<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Order Complete!</title>
</head>

<style>
   * {
      padding: 0;
      margin: 0;
      font-family: 'Courier New', Courier, monospace
   }

   .one {
      position: relative;
      display: flex;
      justify-content: center;
      top: 35px;
   }

   .two {
      position: relative;
      display: flex;
      justify-content: center;
      top: 50px;
   }


</style>
<body>

   <div class="one">
      <h1>Thank you for your order, {{ user[1] }}!</h1>
   </div>

   <div class="two">
      <h2>Your order number is : {{ order_number }} </h2>
   </div>
   
   
</body>
</html>